{% extends "index.html" %}
 
{% block content %}
 
<!--https://www.codeply.com/go/nhbdi2FkJm-->
 
 
<div class="col-md-6 mx-auto">
 
    <!-- form card login -->
    <div class="card rounded-0">
 
        <div class="card-header">
            <h3 class="mb-0">Create New Data{{form_name}}</h3>
        </div>
        <div class="card-body">
 
            <form class="form"  action = "/create_data" method="POST">
                {{ form.hidden_tag() }}
 

                {% if country_name %}
                    <div class="alert alert-danger" role="alert">
                             <div>{{ country_name }}</div>
                    </div>
                {% endif %}
            <div class="form-group">
                {{ form.country_name.label }}
                {{ form.country_name(class_="form-control") }}
 
                {% if form.country_name.errors%}
                    <div class="alert alert-danger" role="alert">
                        {% for message in form.country_name.errors %}
                             <div>{{ message }}</div>
                        {% endfor %}
                    </div>
                {%endif%}
            </div>
 
 
            <div class="form-group">
                {{ form.index_value.label }}
                {{ form.index_value(class_="form-control") }}

                {% if form.index_value.errors%}
                    <div class="alert alert-danger" role="alert">
                        {% for message in form.index_value.errors %}
                             <div>{{ message }}</div>
                        {% endfor %}
                    </div>
                {%endif%}
            </div>

            <div class="form-group">
                {{ form.usage_value.label }}
                {{ form.usage_value(class_="form-control") }}

                {% if form.usage_value.errors%}
                    <div class="alert alert-danger" role="alert">
                        {% for message in form.usage_value.errors %}
                             <div>{{ message }}</div>
                        {% endfor %}
                    </div>
                {%endif%}
            </div>

            <div class="form-group">
                {{ form.continent_name.label }}
                {{ form.continent_name(class_="form-control") }}

                {% if form.continent_name.errors%}
                    <div class="alert alert-danger" role="alert">
                        {% for message in form.continent_name.errors %}
                             <div>{{ message }}</div>
                        {% endfor %}
                    </div>
                {%endif%}
            </div>
 
                {{ form.submit(class_="btn btn-success") }}
            </form>
        </div>
        <!--/card-block-->
    </div>
    <!-- /form card login -->
 
</div>
 
</div>
 
 
 
 
{% endblock %}